@tailwind base;
@tailwind components;
@tailwind utilities;


body {
     padding-bottom: env(safe-area-inset-bottom);
     height: 100vh;
     width: 100vw;
}

h1 {
     @apply text-2xl font-extrabold capitalize text-center;
}

h2 {
     @apply text-xl font-bold text-center;
}

h3 {
     @apply text-lg;
}

h4{
     @apply text-base font-thin;
}

p{
     @apply text-base;
}

span {
     @apply text-base;
}


.v-enter-active {
  transition: opacity 0.3s ease-out;
}

.v-leave-active {
  transition: opacity 0s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}