@tailwind base;
@tailwind components;
@tailwind utilities;


body {
     padding-bottom: env(safe-area-inset-bottom);
     height: 100vh;
     width: 100vw;
}

h1 {
     @apply text-2xl font-extrabold capitalize text-center text-gray-700;
}

h2 {
     @apply text-xl font-bold text-center text-gray-700;
}

h3,select {
     @apply text-lg text-gray-700;
}

h4{
     @apply text-base font-thin text-gray-700;
}

p{
     @apply text-base text-gray-700;
}

span {
     @apply text-base text-gray-700;
}

label {
     @apply text-sm text-gray-700
}


.v-enter-active {
  transition: opacity 0.3s ease-out;
}

.v-leave-active {
  transition: opacity 0s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.mapboxgl-popup-content{
     width: 15rem;

     #pop-up-content  {
          button {
               @apply text-base font-thin text-gray-700;
          }
     }

     button.mapboxgl-popup-close-button {
          @apply flex flex-col justify-center w-7 h-7 border-2 border-green-500 border-solid rounded-full  hover:bg-green-600 text-xl text-green-500  font-bold;
     
          }

}


.cd-select-field {

     @apply relative flex flex-col justify-center border border-solid bg-white border-green-600;


     select {
          @apply w-full mx-auto border-2 bg-white border-none text-center focus:border-none font-bold text-green-600;
         
     }

     &::after{

          @apply absolute right-0 h-6 w-6 pointer-events-none bg-white;

          content: '';
          background-image: url('~/assets/img/dropdown.svg');
          background-repeat: no-repeat;
          background-position: center;
          object-fit:contain
     }


     

}
